body {
 	font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.botao {
	border-radius: 0px;
}

blockquote small:before {
    content: '';
}

blockquote small{
    text-align: justify;
}

.usuarios {
	padding-top: 30px;
}

.usuarios .row .col-sm-4 {
	padding-top: 7px;
	padding-top: 10px;
}