<!doctype html>
<html ng-app="randomUserTest">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="target_country" content="br" />
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />

	<title>Desafio - Max Milhas</title>

	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">

	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />

	<script src="http://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>

	<!--AngularJs Controllers -->
	<script type="text/javascript" src="scripts/app.js"></script>
	<script type="text/javascript" src="scripts/controllers/mainCtrl.js"></script>
	<script type="text/javascript" src="scripts/controllers/ordemBlocoCtrl.js"></script>
	<script type="text/javascript" src="scripts/controllers/usuariosCtrl.js"></script>
</head>

<body ng-controller="MainCtrl">

	<nav class="navbar navbar-default navbar-static-top navbar-inverse">
	  <div class="container" >
	    <ul class="nav navbar-nav">
	      <li class="active">
	        <a href="#"><span class="glyphicon glyphicon-home"></span> Home</a>
	      </li>
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	      <li>
	        <a href="https://github.com/tiagof7/random-user-test">
	          <span class="glyphicon glyphicon-link"></span> 
	          <span>Source on GitHub</span>
	        </a>
	      </li>
	      <li>
	        <a href="https://www.linkedin.com/in/tiagof7">
	          <span class="glyphicon glyphicon-user"></span>
	          <span>Developed by Tiago Ferreira </span>
	        </a>
	      </li>
	    </ul>
	  </div>
	</nav>

<div class="container" ng-controller="OrdemBlocoCtrl">

	<div class="row">
		<button type="button" class="btn btn-info botao pull-right" ng-click="trocarOrdem()">Trocar ordem</button>
	</div>

	<div class="row" id="blocos">
		<div class="col-sm-4 bloco">
			<h3>TÍTULO 01</h3>
			<img src="images/image1.jpg" class="img-responsive"/>
		</div>
		<div class="col-sm-4 bloco">
			<h3>TÍTULO 02</h3>
			<img src="images/image2.jpg" class="img-responsive"/>
		</div>
		<div class="col-sm-4 bloco">
			<h3>TÍTULO 03</h3>
			<h5><strong>Como acumular milhas no dia a dia?</strong></h5>
			<blockquote>
				<small>Seja nas promoções com cartão de crédito, seja nas promoções dos programas de fidelidade das cias. aéreas, há sempre espaço para estratégias inteligentes que permitem maximizar o acúmulo de milhas, sem necessariamente pagar tarifas extras por tal ou ...</small>
			</blockquote>
			<a href="https://www.maxmilhas.com.br/">Leia mais</a>
		</div>
	</div>	

	<div class="container">
		<article class="tabs" >

			<section id="{{aba.id}}" ng-repeat="aba in abas">

				<h2 ng-click="mudaAba(aba.id)"><a href="#{{aba.id}}">{{aba.nome}}</a></h2>

				<div class="container usuarios" ng-controller="UsuariosCtrl">
					<div>
						<button type="button" class="btn btn-info botao" ng-click="addUsuario()">Criar usuário</button>
						<div class="pull-right">
							<span class="text-muted">Filtros: </span>
							<form role="form">
							<label class="checkbox-inline"><input type="checkbox" ng-model="homem">Homens</label>
							<label class="checkbox-inline"><input type="checkbox" ng-model="mulher">Mulheres</label>
							</form>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4" ng-repeat="usuario in usuarios | filter: filtroUsuarios">
							<div class="row">
								<div class="col-xs-4">
									<img ng-src="{{usuario.picture.large}}" class="img-responsive img-circle"/>
								</div>
								<div class="col-xs-8">
									<h4>{{usuario.name.first}} {{usuario.name.last}}</h4>
									<p class="text-muted">
										{{usuario.email}}
										</br>
										{{usuario.cell}}
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>

			</section>

			

		</article>
	</div>

</div>


</body>
</html>