/* line 6, ../sass/main.sass */
body {
  font-family: "Roboto", sans-serif;
}

/* line 9, ../sass/main.sass */
button {
  border-radius: 0px;
}

/* line 12, ../sass/main.sass */
.to-right {
  float: right;
}

/* line 15, ../sass/main.sass */
.img-circle {
  border-radius: 70px;
}

/* line 18, ../sass/main.sass */
button.expand {
  padding-left: 0.88889rem;
  padding-right: 0.88889rem;
  width: 100%;
}

/* line 23, ../sass/main.sass */
blockquote small:before {
  content: "";
}

/* line 26, ../sass/main.sass */
blockquote small {
  text-align: justify;
}
