.usuarios {
	padding-top: 30px;
}

.usuarios-list {
	padding-top: 7px;
	padding-top: 10px;
	padding-right: 90px
}

.box-usuario {
    border-style: solid;
    border-width: 1px;
    border-color: #d8d8d8;
    margin-bottom: 1.11111rem;
    padding: 1.11111rem;
    background: #f2f2f2;
    color: #333333;
}